In [124]:
import pandas as pd

In [139]:
# Whatever the source is (csv, excel, db), we need to put it into pandas dataframe

# csv example
input_data = pd.read_csv('table.csv')
input_data

   error  seq num
0      A        1
1      A        2
2      A        3
3      A        4
4      A        5
5      A        6
6      A        7
7      A        8
8      B        9
9      B       10
10     B       11
11     A       12
12     A       13
13     A       14
14     B       15
15     B       16
16     B       17
17     B       18
18     B       19
19     B       20
20     B       21
21     C       22
22     C       23
23     C       24

In [140]:
# Result in separate columns
# This step is required for the final result table

# errs
# .ne and .shift = check if the next row is equal to current row
# .cumsum = cumulative sum over axis

# df_sep_cols
# simple aggregation and sorting

errs = input_data['error'].ne(input_data['error'].shift()).cumsum()

df_sep_cols = (input_data.groupby([errs, 'error'], as_index=False)
                .agg(MIN=('seq num','min'), MAX=('seq num','max'))
                .sort_values('error', ignore_index=True))
df_sep_cols

  error  MIN  MAX
0     A    1    8
1     A   12   14
2     B    9   11
3     B   15   21
4     C   22   24

In [141]:
#Result showing ranges

df_ranges = (df_sep_cols['MIN'].astype(str).str.cat(df_sep_cols['MAX'].astype(str), sep='-')
             .groupby(df_sep_cols['error']).agg('; '.join)
             .reset_index(name='range'))
df_ranges

  error        range
0     A   1-8; 12-14
1     B  9-11; 15-21
2     C        22-24